h1{
    color: white;
}

h3{
    color: white;
}

h2{
    color: white;
}

h4{
    color: white;
}
.detalle {
    width: 900px;
    padding: 30px;
    margin: 30px;
    font-size: 15px;
    background-color: rgb(72, 87, 129);
    color: white;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
}

.detalle img {
    width: 150px;
    object-position: center;
}

.Button{
  background-color: rgb(72, 87, 129);
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
}

.Optioncard{
    background-color: rgb(72, 87, 129);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
  }