.ContactContainer{
    color: white;
}
.ContactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.LabelContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    font-size: 14px;
}

.InputContact {
    border-style: none;
    border-bottom: 2px solid #8C30F5;
    color:white;
    width: 85vw;
    height: 20px;
    margin-top: 10px;
    padding: 8px 5px;
    background: transparent;
    outline: none;
}

.InputContact:-webkit-autofill,
.InputContact:-webkit-autofill:hover, 
.InputContact:-webkit-autofill:focus, 
.InputContact:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}